---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}


## Example Usage

{{ tffile "examples/resources/app.tf" }}

{{ tffile "examples/resources/app_with_push.tf" }}

{{ .SchemaMarkdown | trimspace }}